{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.user_id }}</p>
<head>
    <meta charset="UTF-8">
    <title>Game Menu</title>
</head>
<body>
    <p>Toiminnot:</p>

    <ul>
        <li><a href="/game">Aloita uusi peli</a></li>
        <li><a href="/game">Jatka peliä</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>

</body>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="user_id"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
{% endif %}